@import 'src/styles/variables.scss';

.icon {
    width: 32px;
    height: 32px;
}

.externalAuthServices {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    :global {
        .item:not(:last-child) {
            padding-right: 20px;
            //border-right: 1px solid black;
        }
    }
}
