@import 'src/styles/variables.scss';

.root {
    padding: 4px 5px !important;
    background-color: $gray2 !important;
    display: table-cell;
    margin-left: 5px;

    :global {
        .bp3-button.bp3-small {
            min-height: 20px;
        }

        .bp3-button.bp3-minimal:hover {
            background-color: $gray3 !important;
        }
    }
}
