@import 'src/styles/variables.scss';

.root {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 999;
    padding: 20px;
}

.inner {
    height: 100%;
    width: 100%;
    background-color: rgba($light-gray3, 0.9);
    border-radius: 20px;

    text-align: center;
    font-size: 30px;
    color: $gray3;
    animation: fadein 400ms;

    :global {
        .content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 50%;
            height: 200px;
            margin: auto;

            .text {
                margin-top: 20px;
            }
        }
    }
}

