@import 'src/styles/variables.scss';

.nodeContent {
    display: flex;
    height: 100%;
    line-height: 25px;
}

.activeNodeMark {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    border-right: 2px solid $light-gray5;
}

.nodeIcon {
    margin-right: 5px;
    margin-top: 5px; // фикс для FF
}

.main {
    flex-grow: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.control {
    padding-left: 5px;
}

.controlButton {
    background: none;
    color: #fff;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 200ms, color 100ms;
    height: 18px;
    margin-top: 2px;
    padding: 1px 4px;

    &:active {
        background-color: $light-gray1 !important;
        color: $gray1;
    }

    &:hover {
        opacity: 1;
        background-color: $light-gray2;
        color: $gray1;
    }
}

.active {
    opacity: 1;
    background-color: $light-gray2;
    color: $gray1;
}

.controlButtonRoot {
    color: $gray1;
    opacity: 0.6;
}
