@import 'src/styles/variables.scss';

.root {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.tabs {
    background-color: $light-gray5;
    padding: 5px;
    box-shadow: $light-gray1 0 1px 0 0px inset;
    display: flex;
}

.tabButton {
    margin-right: 5px;
}

.content {
    flex: 1;
    box-shadow: $light-gray1 0 1px 0 0px inset;
    background-color: $white;
    overflow: auto;
}

.footerInner {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-top: 1px solid $light-gray1;
}

.controls {
    flex-shrink: 0;
    flex-grow: 0;
    background-color: $light-gray5;
    border-right: 1px solid $light-gray1;
    padding: 5px;
    width: 35px;
}

.controlItem {
    margin-bottom: 5px;
}

.main {
    flex-grow: 1;
}

.table {
    user-select: none;
}

.rowSelected {
    background-color: rgba($blue5, 0.25) !important;
}
