@import 'src/styles/variables.scss';

.root {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.tabs {
    background-color: $light-gray5;
    padding: 5px;
    box-shadow: $light-gray1 0 1px 0 0px inset;
    display: flex;
}

.tabButton {
    margin-right: 5px;
}

.content {
    flex: 1;
    box-shadow: $light-gray1 0 1px 0 0px inset;
    background-color: $white;
    overflow: auto;
}
