@import 'src/styles/variables.scss';

.VTHeader {
    background-color: $light-gray5;
    box-sizing: border-box;
    border-bottom: 1px solid $light-gray1;
    font-weight: bold;
    color: $gray1;
}

.VTCellContent {
    width: 100%;
}
