@import 'src/styles/variables.scss';

.rootNode {
    $borderColor: $light-gray1;
    background-color: $light-gray3;
    box-shadow: inset 0 -1px 0 $light-gray1;
    z-index: 1;
}

.noteNode {
    &:hover {
        background-color: $light-gray5;
    }
}

.activeNode {
    background-color: $blue3 !important;
    color: $white;

    :global{
        .VTTree__NodeExpander {
            fill: $light-gray5;
        }
    }
}
