@import 'src/styles/variables.scss';

.errorText {
    margin-top: 10px;
}

.noAccountBlock {
    margin-top: 16px;
    text-align: center;
}

.afterMessage{
    color: $intent-success;
    text-align: center;
    font-weight: bold;
    margin-bottom: 17px;
}
