@import 'src/styles/variables.scss';

.root {
    height: 100%;
    overflow: hidden;
    display: flex;
    background-color: $white;
}
.area {
    height: 100%;
    width: 100%;
    position: relative;

    flex-grow: 0;
    flex-shrink: 0;
}

.areaInner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar {
    background-color: $light-gray5;
    padding: 5px;
    box-shadow: $light-gray3 0px -1px 0px 0px inset;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 34px;

    :global {
        .separator {
            width: 1px;
            background-color: $light-gray1;
            margin: 2px 10px 2px 5px;
        }

        .toolbarFiller {
            flex-grow: 1;
        }
    }
}

.areaMainContainer {
    flex-grow: 1;
    overflow: auto;
}
