@import 'src/styles/variables.scss';

.electron {
    -ms-overflow-style: scrollbar;
    -webkit-app-region: drag;

    padding-right: 5px !important;

    :global {
        input[type='submit'],
        input[type='reset'],
        input[type='button'],
        input[type='text'],
        button,
        textarea {
            -webkit-app-region: no-drag;
        }
    }
}

.activeButton {
    background-color: $gray2 !important;
}
